### Задание 4

In [1]:
import pandas as pd

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_table("illiteracy.txt")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [3]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [4]:
round(data[['Illit', 'Births']].corr().iloc[0,1],4)

0.7687

### Задание 5

In [5]:
round(data[['Illit', 'Births']].corr(method='spearman').iloc[0,1],4)

0.753

# Второй Quiz

### Задание 1

In [6]:
data = pd.read_table('water.txt')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [7]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [8]:
round(data[['mortality', 'hardness']].corr().iloc[0,1],4)

-0.6548

In [9]:
round(data[['mortality', 'hardness']].corr(method='spearman').iloc[0,1],4)

-0.6317

In [10]:
data_north = data.loc[data.location == 'North', ['mortality', 'hardness']]
data_south = data.loc[data.location == 'South', ['mortality', 'hardness']]

In [112]:
corr_north = round(data_north.corr().iloc[0,1],4)
corr_south = round(data_south.corr().iloc[0,1],4)

In [113]:
corr_north, corr_south

(-0.3686, -0.6022)

In [13]:
min(corr_north, corr_south)

-0.5957

### 4 задание

In [14]:
a = 203
b = 239

c = 718
d = 515

In [19]:
def matthew_corr (a,b,c,d):
    den = (a+b)*(a+c)*(b+d)*(c+d)
    if den == 0:
        den = 1
    return (a*d - b*c)/(den)**(0.5)

In [21]:
round(matthew_corr(a,b,c,d),4)

-0.109

### 5 задание

In [22]:
stat = 2*matthew_corr(a,b,c,d)**2

In [24]:
from scipy.stats import chi2_contingency

In [115]:
chi2_contingency([[a,b], [c,d]])[1]#, correction = False, lambda_ = stat)[1]

1.0558987006638725e-05

### 6 задание

In [67]:
p1 = b/ (b+d)
p2 = a/ (a+c)
l_1 = b+d
l_2 = a+c

delta = m_often- w_often
delta

-203.0

In [68]:
import scipy

In [69]:
import numpy as np

In [70]:
def proportions_confint_diff_ind(p1, p2, l_1, l_2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ l_1 + p2 * (1 - p2)/ l_2)
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ l_1 + p2 * (1 - p2)/ l_2)
    
    return (left_boundary, right_boundary)

In [73]:
round(proportions_confint_diff_ind(p1, p2, l_1, l_2, alpha = 0.05)[0],4)

0.0539

### 7 задание

In [74]:
def proportions_diff_z_stat_ind(p1, p2, l_1, l_2):
    n1 = l_1
    n2 = l_2
    
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [75]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [76]:
z_stat = proportions_diff_z_stat_ind(p1, p2, l_1, l_2)

In [77]:
proportions_diff_z_test(z_stat, alternative = 'two-sided')

8.153453089576601e-06

### 8 задание

In [78]:
data = pd.DataFrame(columns = ['Не доволен', 'Более или менее', 'Доволен'],
                   data = [[197,111,33], [382, 685, 331], [110, 342, 333]], 
                   index = ['Не очень счастлив', 'Достаточно счастлив', 'Очень счастлив'])

In [79]:
data

                     Не доволен  Более или менее  Доволен
Не очень счастлив           197              111       33
Достаточно счастлив         382              685      331
Очень счастлив              110              342      333

In [121]:
n_i = data.sum(axis = 1)
n_j = data.sum(axis = 0)

In [145]:
sum(data.sum())

2524

In [146]:
def chi_stat (data):
    n_i = data.sum(axis = 1)
    n_j = data.sum(axis = 0)
    stat = 0
    n = sum(data.sum())
    
    for i in range(data.shape[0]):
        for j in range(data.shape[1]):
            stat += (data.iloc[i,j]**2)/(n_i[i] * n_j[j])
            
    return (stat - 1)*n

In [147]:
round(chi_stat (data),4)

293.6831

In [141]:
chi2_contingency(data, correction=False)

(293.68311039689746,
 2.4964299580093467e-62,
 4,
 array([[ 93.08597464, 153.74722662,  94.16679873],
        [381.6251981 , 630.318542  , 386.0562599 ],
        [214.28882726, 353.93423138, 216.77694136]]))

### 9 задание

In [148]:
stat_chi = chi_stat (data)
stat_chi

293.68311039689746

In [157]:
1- scipy.stats.chi2(4).cdf(stat_chi)

0.0

In [155]:
chi2_contingency(data, correction=False)[1]

2.4964299580093467e-62

### 10 задание

In [142]:
stat_chi = chi2_contingency(data, correction=False)[0]

In [154]:
v_kramer = (stat_chi/ (sum(data.sum())* (data.shape[0]-1)))**0.5
round(v_kramer,4)

0.2412